<ion-header>
  <ion-toolbar>
    <ion-title>finalizar-compra</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating"> Forma de pagamento</ion-label>
      <ion-select>
        <ion-select-option value="Crédito"> Cartão de crédito</ion-select-option>
        <ion-select-option value="Débito"> Cartão de débito</ion-select-option>
        <ion-select-option value="Dinheiro"> Dinheiro </ion-select-option>
      </ion-select>
    </ion-item>
    <h3 class="ion-padding" style="margin-top: 45px;">
      Endereço
    </h3>
    <ion-item>
      <ion-label position="floating"> Endereço </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Qual seu Cep</ion-label>
      <ion-input [(ngModel)]="cep"></ion-input>
    </ion-item>
    <ion-button class="ion-margin-top ion-floating-right" (click)="buscarEndereco()">Buscar Endereço</ion-button>
    <br />
    <br />
    <ion-item>
      <ion-label position="floating">Bairro </ion-label>
      <ion-input readonly="readonly"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rua </ion-label>
      <ion-input readonly="readonly"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Número</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Complemento </ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
</ion-content>