ion-content {
    --background: linear-gradient(
        135deg,
        rgb(161, 18, 18), 
        rgb(243, 74, 32)
        );
}

ion-card {
    --background: white;
}

ion-card-subtitle {
    margin-top: 10px;
}

ion-searchbar {
    --background: white;
}

.card-menu {
    position: relative;
}

.card-menu ion-button {
    position: absolute;
    top: 0;
    right: 0;
    --background: transparent;
    --background-activated: rgb(179, 0, 0);
}
ion-card.card-transparente{
    --background: transparent;
    ion-card-title{
        color:white;
        text-align: center;
    }
    box-shadow: none;
    img{
        width: 30%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
}